* {
    /* The dimensions of the element are calculated as follows: width = border + padding + width of the content, and height = border + padding + height of the content. */
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    color: #716C80;
    /* regarding the size in the tag html, 1.8*10=18*/
    /* to scale we use rem instead px */
    font-size: 1.8rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #554d89;
}

.btn {
    border: none;
    text-decoration: none;
    border-radius: 2rem;
    height: 4rem;
    padding: 0 1.7rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.btn-light {
    border: solid 1px #6852ed;
    font-weight: 400;
    font-size: 1.4rem;
    color: #6852ed;
    background-color: transparent;
    text-align: center;
}

.btn-dark {
    border: none;
    font-weight: normal;
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: 0.5px;
    background-image: linear-gradient(to top, #6852ed, #ba43fc);
    text-align: center;
    padding: 1.8rem 3.1rem 1.9rem 3rem;
    border-radius: 3rem;
    height: 5rem;
}

.header-actions__text {
    display: inline-block;
    margin: 0 0.8rem;
}

.wrapper {
    width: 1143px;
    margin: 0 auto;
}

/* .background {
    max-width: 1143px;
    height: 480px;
    margin-top: 14.4rem;
} */

.divider {
    border: none;
    border-bottom: 1px solid #e1e4ed;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.8rem 0 2.5rem;
}

.top-header__text {
    font-size: 1.6rem;
}

.top-header__phone {
    color: #716C80;
    font-size: 1.6rem;
    text-decoration: none;
}

.top-header__phone:hover {
    text-decoration: underline;
}

.top-header__phone::before {
    content: "\f095";
    font-family: "FontAwesome";
    margin-right: 0.7rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    align-items: center;

}

ul {
    list-style: none;
}

.header__logo {
    display: block;
    margin-right: 5.6rem;
}

.header-navbar {
    display: flex;
    align-items: center;
}

.header__menu {
    display: flex;
}

.header__menu-item {
    margin-right: 3rem;
    position: relative;
    padding: 1.8rem 0;
}

.header__menu-item:last-child {
    margin-right: 0;
}

.header__menu-item:nth-child(5):hover .header__submenu {
    display: block;
}

.header__submenu {
    display: none;
    position: absolute;
    top: 6rem;
    left: -3rem;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #e1e4ed;
    background-color: #fff;
    font-size: 1.6rem;
    text-align: left;
    width: 23.5rem;
    z-index: 1;
}

.header__submenu>.header__menu-item {
    padding: 0 0 1rem 0;
}

.header__menu-link {
    text-decoration: none;
    color: #5B5766;
    font-size: 1.6rem;
}

.header__menu-link_active {
    color: #554d89;
    font-weight: bold;
}

.header__menu-link:hover {
    color: #554d89;
    text-shadow: 0 0 1px #554d89;
}

.stage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    position: relative;
}

.stage__content {
    position: relative;
    top: -4rem;
    margin-right: 16rem;
}

.stage__content:last-child {
    margin-right: 0;
}

.stage__title {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.stage__text {
    color: #5b5766;
    font-size: 2rem;
    margin-bottom: 4.5rem;
}

.stage__actions .btn-dark {
    margin-right: 3rem;
}

.link {
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-size: 1.6rem;
    color: #554d89;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.link:hover {
    text-shadow: 0 0 1px #554d89;
}

.link-arrow::after {
    content: '\f178';
    font-family: "FontAwesome";
    margin-left: 1.5rem;
}

.btn-bottom {
    position: absolute;
    bottom: -9.5rem;
    left: 45%;
    background-color: #6852ed;
    color: #ffffff;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
}

.btn-bottom>i {
    margin: auto;
    font-size: 4rem;
}

.hero {
    z-index: 10;
}

.hero-shape {
    position: absolute;
    bottom: -5.5rem;
    right: 5.5rem;
}

.card__content {
    display: flex;
    justify-content: space-between;
    margin-top: 19rem;
}

.card {
    padding-left: 3rem;
    padding-top: 3rem;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #e1e4ed;
    width: 360px;
}

.card:hover {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(104, 82, 237, 0.8);
    background-image: linear-gradient(to top, #6852ed, #ba43fc);
}

.card__title {
    font-size: 2.2rem;
    line-height: 1.5;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.card__text {
    color: #716c80;
    font-size: 1.8rem;
    padding-bottom: 3.5rem;
}

.card-link {
    display: none;
}

.card:hover img {
    display: none;
}

.card:hover .card__title {
    color: #fff;
    padding-top: 0.5rem;
}

.card:hover .card__text {
    color: #fff;
}

.card:hover .card-link {
    display: inline-block;
    color: #fff;
    padding-top: 1.4rem;
    padding-bottom: 3.5rem;
}

.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14rem;
}

.article__content,
.article-hero {
    width: 50%;
    flex-shrink: 0;
}

.article-hero {
    margin-right: 5rem;
}

.article__content {
    padding-left: 3rem;
}

.article__title {
    font-size: 2.8rem;
    line-height: 1.5;
    margin-bottom: 4.7rem;
    width: 356px;
}

.article__text {
    color: #716c80;
    font-size: 2rem;
    margin-bottom: 4.5rem;
    text-align: left;
    width: 509px;
}

.article__actions .btn-dark {
    margin-right: 3rem;
}

.article__content_reverse {
    margin-right: 10rem;
}

.article-hero_reverse {
    margin: auto;
}

.video {
    position: relative;
    height: 480px;
    background-color: #f9f5fe;
    margin: 12rem 0;
    display: flex;
}

.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 409px;
    margin: auto;
    text-align: center;
}

.video__btn {
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to top, #6852ed, #ba43fc);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    margin-bottom: 2.4rem;
}

.video__title {
    line-height: 1.5;
    margin-bottom: 1.9rem;
    font-size: 2.8rem;
}

.video__text {
    font-size: 1.8rem;
    line-height: 1.5;
}

.left-circle {
    position: absolute;
    top: 7rem;
    left: 3rem;
    width: 18rem;
    height: 18rem;
    background-color: #ba43fc;
    border-radius: 50%;
}

.right-circle {
    position: absolute;
    top: 10rem;
    left: 180rem;
}

.med-pink-circle {
    position: absolute;
    top: 5rem;
    left: 36rem;
}

.small-pink-circle {
    position: absolute;
    top: 5rem;
    left: 128rem;
}

.small-purpl-circle {
    position: absolute;
    top: 27rem;
    left: 32rem;
}

.big-purpl-circle {
    position: absolute;
    top: 31rem;
    left: 147rem;
}

.shape-left {
    position: absolute;
    top: 38rem;
    left: 5rem;
}

.shape-right {
    position: absolute;
    top: 0;
    left: 172rem;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9rem;
}

.complex-card {
    margin-top: 6rem;
}

.simple-card,
.complex-card {
    margin-right: 3rem;
}

.simple-card .card {
    margin-bottom: 3rem;
}

.complex-card .card {
    margin-bottom: 3rem;
}

.services-content {
    margin-left: 6rem;
}

.services__title {
    font-size: 3.4rem;
    line-height: 1.35;
    color: #554d89;
    margin-bottom: 3.6rem;
}

.services__text {
    font-size: 1.8rem;
    line-height: 1.56;
    color: #716C80;
    margin-bottom: 5.3rem;
    text-align: justify;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 14rem;
}

.skills__content,
.skills__bar {
    width: 50%;
    /* flex-shrink: 0; */
}

.skills__content {
    margin-right: 5.5rem;
}

.skills__title {
    font-size: 3.4rem;
    line-height: 1.29;
    color: #554d89;
    margin-bottom: 3.6rem;
}

.skills__text {
    font-size: 1.8rem;
    line-height: 1.56;
    color: #716C80;
    margin-bottom: 6.9rem;
    text-align: justify;
}

.skills__bar {}

.skills__bar-content {
    display: flex;
    justify-content: space-between;
}

.skills__bar-content_text {
    font-size: 1.8rem;
    line-height: 1.56;
    color: #5b5766;
    text-align: justify;
    margin-bottom: 1.6rem;
}

.skills__bar-content_percent {
    font-size: 1.8rem;
    line-height: 1.56;
    color: #5b5766;
    text-align: justify;
}

.skills__bar-lane {
    width: 100%;
    height: 6px;
    border-radius: 2.5px;
    background-color: rgba(225, 228, 237, 0.6);
    margin-bottom: 3.5rem;
}

.percent {
    height: 100%;
    background-color: #6852ed;
}

.call__section {
    height: 17rem;
    background-color: #f5ecfe;
    position: relative;
    margin: 14rem 0;
    /* overflow: hidden; */
}

.call__section-content {
    display: flex;
    justify-content: space-between;
    padding: 6.5rem 39rem;

}

.call__section-title {
    font-size: 2.4rem;
    line-height: 1.5;
    color: #554d89;
}

.call-small-pink {
    position: absolute;
    top: 1.4rem;
    left: 165rem;
    width: 50px;
    height: 50px;
    background-color: #ba43fc;
    border-radius: 50%;
}

.call-small-ppl {
    position: absolute;
    bottom: 0px;
    right: 2%;
    width: 111px;
    height: 111px;
    background-color: #6852ed;
    border-radius: 50%;
}

.tarif-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
}

.tarif__card {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #e1e4ed;
    background-color: #fff;
    width: 360px;
    height: 650px;
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    margin: auto;
}

.tarif__header {
    display: flex;
    margin-top: 6.5rem;
}

.tarif__header .tarif__name {
    font-size: 2rem;
    line-height: 1.5;
    padding-right: 9rem;
}

.best-choise-btn {
    width: 86px;
    height: 26px;
    border-radius: 13px;
    background-color: #e1e4ed;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ef7171;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.7rem 0 0 1rem;
}

.divider-dark {
    width: 40px;
    height: 3px;
    border-radius: 1px;
    background-color: #ba43fc;
    margin: 2.5rem 0;
}

.tarif__price {
    font-size: 5rem;
    line-height: 1.2;
}

.tarif__text {
    font-size: 1.6rem;
    line-height: 1.31;
    color: rgba(91, 87, 102, 0.8);
    margin-top: 1rem;
}

.tarif__list {
    margin-top: 5rem;
    padding: 0;
    color: #716c80;
    font-size: 1.8rem;
    line-height: 1.5;
}

.tarif__items {
    padding-bottom: 1.5rem;
}

.tarif__items:last-child {
    padding-bottom: 0;
}

.fa-check {
    color: #6852ed;
    padding-right: 1rem;
    font-size: 1.8rem;
}

.fa-xmark {
    color: rgba(239, 113, 113, 0.5);
    font-size: 1.8rem;
    padding-right: 1rem;

}

.tarif__card .btn-dark {
    margin-top: 6rem;
    width: 189px;
    height: 50px;
    font-size: 1.6rem;
    padding: 0;
    padding-top: 1.5rem;
    text-align: center;
}


.support__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12rem;
}

.support {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.support__content {
    margin-left: 2.5rem;
}

.support__title {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    color: #554d89;
}

.support__text {
    margin-bottom: 3.5rem;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #716c80;
}

.fa-circle-question {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1;
    color: #6852ed;
}

.fa-question {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1;
    color: #6852ed;
}

/*transform: translateX(-50%); */