* {
    /* The dimensions of the element are calculated as follows: width = border + padding + width of the content, and height = border + padding + height of the content. */
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    color: #716C80;
    /* regarding the size in the tag html, 1.8*10=18*/
    /* to scale we use rem instead px */
    font-size: 1.8rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #554d89;
}

.btn {
    border: none;
    text-decoration: none;
    border-radius: 2rem;
    height: 4rem;
    padding: 0 1.7rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.btn-light {
    border: solid 1px #6852ed;
    font-weight: 400;
    font-size: 1.4rem;
    color: #6852ed;
    background-color: transparent;
    text-align: center;
}

.btn-dark {
    border: none;
    font-weight: normal;
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: 0.5px;
    background-image: linear-gradient(to top, #6852ed, #ba43fc);
    text-align: center;
    padding: 1.8rem 3.1rem 1.9rem 3rem;
    border-radius: 3rem;
    height: 5rem;
}

.header-actions__text {
    display: inline-block;
    margin: 0 0.8rem;
}

.wrapper {
    width: 1143px;
    margin: 0 auto;
}

.divider {
    border: none;
    border-bottom: 1px solid #e1e4ed;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.8rem 0 2.5rem;
}

.top-header__text {
    font-size: 1.6rem;
}

.top-header__phone {
    color: #716C80;
    font-size: 1.6rem;
    text-decoration: none;
}

.top-header__phone:hover {
    text-decoration: underline;
}

.top-header__phone::before {
    content: "\f095";
    font-family: "FontAwesome";
    margin-right: 0.7rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    align-items: center;

}

ul {
    list-style: none;
}

.header__logo {
    display: block;
    margin-right: 5.6rem;
}

.header-navbar {
    display: flex;
    align-items: center;
}

.header__menu {
    display: flex;
}

.header__menu-item {
    margin-right: 3rem;
    position: relative;
    padding: 1.8rem 0;
}

.header__menu-item:last-child {
    margin-right: 0;
}

.header__menu-item:nth-child(5):hover .header__submenu {
    display: block;
}

.header__submenu {
    display: none;
    position: absolute;
    top: 6rem;
    left: -3rem;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #e1e4ed;
    background-color: #fff;
    font-size: 1.6rem;
    text-align: left;
    width: 23.5rem;
    z-index: 1;
}

.header__submenu>.header__menu-item {
    padding: 0 0 1rem 0;
}

.header__menu-link {
    text-decoration: none;
    color: #5B5766;
    font-size: 1.6rem;
}

.header__menu-link_active {
    color: #554d89;
    font-weight: bold;
}

.header__menu-link:hover {
    color: #554d89;
    text-shadow: 0 0 1px #554d89;
}

.stage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    position: relative;
}

.stage__content {
    position: relative;
    top: -4rem;
    margin-right: 16rem;
}

.stage__title {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.stage__text {
    color: #5b5766;
    font-size: 2rem;
    margin-bottom: 4.5rem;
}

.stage__actions .btn-dark {
    margin-right: 3rem;
}

.link {
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-size: 1.6rem;
    color: #554d89;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.link:hover {
    text-shadow: 0 0 1px #554d89;
}

.link-arrow::after {
    content: '\f178';
    font-family: "FontAwesome";
    margin-left: 1.5rem;
}

.btn-bottom {
    position: absolute;
    bottom: -9.5rem;
    left: 45%;
    background-color: #6852ed;
    color: #ffffff;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
}

.btn-bottom>i {
    margin: auto;
    font-size: 4rem;
}

.hero {
    z-index: 10;
}

.hero-shape {
    position: absolute;
    bottom: -5.5rem;
    right: 5.5rem;
}

/*transform: translateX(-50%); */